* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #565656;
}
nav {
    background-color: #464646;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 200px;
}
nav li {
    margin-right: 15px;
}
nav a {
    color: white;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
}
.logo {
    color: #00eaff;
    font-size: 24px;
    font-weight: bold;
}
nav a:hover {
    background-color: #565656;
}
.search-container {
    display: flex;
    align-items: center;
}
.search-input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 4px;
}
.search-button {
    padding: 6px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #00a52d;
    cursor: pointer;
    transition: 0.7s;
}
.search-button:hover {
    background-color: aqua;
}
.info {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: absolute; /* Перекрытие друг друга */
    transition: opacity 1s ease-in-out;
    animation-duration: 10s; /* Общее время анимации */
    animation-iteration-count: infinite;
    animation-name: toggleInfo;
}
.info2 {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    transition: opacity 1s ease-in-out;
    animation-duration: 10s; /* Общее время анимации */
    animation-iteration-count: infinite;
    animation-name: toggleInfo2;
}
.info4 {
    padding: 15px;
}
.info4 h1 {
    color: white;
    text-align: center;
}
@keyframes toggleInfo {
    0%,
    45% {
        opacity: 1; /* Видимый элемент */
        z-index: 1; /* На переднем плане */
    }
    50%,
    100% {
        opacity: 0; /* Исчезает */
        z-index: 0; /* На заднем плане */
    }
}

@keyframes toggleInfo2 {
    0%,
    45% {
        opacity: 0; /* Исчезает */
        z-index: 0; /* На заднем плане */
    }
    50%,
    100% {
        opacity: 1; /* Видимый элемент */
        z-index: 1; /* На переднем плане */
    }
}
.img1 img {
    width: 950px;
    height: 490px;
    border-radius: 4px;
}
.t1 {
    color: white;
    text-align: center;
    margin-left: 10px;
    background-color: #4b5155;
}
.t2 {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #4b5155;
}
.t3 {
    color: white;
    text-align: center;
}
.t1 p {
    padding: 10px;
    font-size: 20px;
}
.t11 {
    padding: 10px;
}
.t12 img {
    padding: 15px;
    animation-name: certificate;
    animation-duration: 1s;
}
.t11 img {
    padding: 15px;
    animation-name: certificate;
    animation-duration: 1s;
}
.t11 a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
}
.conall {
    background-color: #4b5155;
    width: 500px;
    margin: 0 auto;
}
.contact {
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    color: white;
    animation-name: certificate;
    animation-duration: 1s;
}
.contact h1 {
    padding: 10px;
}
.contact img {
    width: 200px;
    transition: 0.7s;
}
.contact img:hover {
    transform: scale(1.1);
}
@keyframes certificate {
    from {
        transform: translate(-90px);
    }
    to {
        transform: translate(0);
    }
}
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}
.icons img {
    width: 250px;
    transition: 0.7s;
}
.icons img:hover {
    transform: scale(0.5);
}
@media (max-width: 768px) {
    nav {
        display: block;
        text-align: center;
    }
    nav ul {
        display: block;
        margin: 0;
        padding: 15px;
    }
    nav li {
        margin: 0;
        padding: 15px;
    }
    .search-container {
        display: block;
    }
    .info {
        display: block;
    }
    .info2 {
        display: block;
    }
    .img1 img {
        width: 100%;
        height: 100%;
    }
    .t1 {
        margin: 0;
    }
    .icons img {
        width: 100px;
    }
    .t12 img {
        width: 100%;
    }
}
